<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogs" method="post">
        Title: <input name="title" type="text" placeholder="Enter title"> <br>
        User: <input name="author" type="text" placeholder="Enter User name"> <br>
        Description: 
        <br><textarea name="desc" cols="30" rows="5"></textarea> <br>
        <button>Submit</button>
    </form>
</body>
</html>