<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/users/new">Add new User</a>

    <% for( let user of users ) { %>
        <div style="border:2px solid grey; margin-bottom: 4px;">
            <h2>Username: <%= user.username %></h2>
            <p>Password: <%= user.password %></p>
            <p>Email: <%= user.email %></p>
            <p>Contact: <%= user.contact %></p>
        </div>
    <% } %>
</body>
</html>